* {
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: rgb(202, 202, 36);
  font-size: 80px;
  text-align: center;
}
button.sB {
  margin: 30px auto 0;
  display: block;
  background: rgb(202, 202, 36);
  color: black;
  border-radius: 6px;
  font-size: 50px;
  padding: 8px 36px;
  cursor: pointer;
}
.score {
  margin: 20px;
  background: rgb(202, 202, 36);
  color: black;
  padding: 30px;
  border-radius: 10px;
  font-size: 80px;
}
.play {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.crib {
  flex: 1 40.33%;
  overflow: hidden;
  position: relative;
}

.crib:after {
  display: block;
  background: url(./img/il_794xN.2475727227_bzb5.png) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 150%;
  height: 100px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.yoda {
  background: url(./img/grogu-baby-yoda-the-child-1606497947.png) bottom center
    no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 150%;
  height: 100%;
  transition: all 0.25s;
}
